<%- include("partials/header.ejs") %>

    <h1>Patient's Appointment</h1>

    <p>Are you a new Patient?</p>
    <a class="btn btn-primary" href="/newAppointment" role="button">Yes</a>
    <a class="btn btn-light" href="/regAppointment" role="button">No</a>

<%- include("partials/footer.ejs") %>