<%- include("partials/header.ejs") %>

  <div>
    <h1>Welcome to HealthHub</h1>
    <p>A comprehensive Patient Consultancy
        Management System.</p>
  </div>
  <table>
    <tr>
        <td>
            <img class="profile" src="images/HomePage.jpg" alt="Home">
        </td>
        <td>
            <img class="profile" src="images/Doc1.jpeg" alt="Doc1">
        </td>
        <td>
            <img class="profile" src="images/Doc2.jpg" alt="Doc2">
        </td>
        <td>
            <img class="profile" src="images/Doc3.jpeg" alt="Doc3">
        </td>
        <td>
            <img class="profile" src="images/Doc4.jpeg" alt="Doc4">
        </td>
    </tr>
  </table>
  
<%- include("partials/footer.ejs") %>


